
/* Your CSS Code here. */


body {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.container {
    text-align: center;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}
